body{
	background: #0A2A29;
}

.container{
	background: #5C0404;
}

.ac-container{
	width:"100%";
	margin-top:200px;
	background: #C6C6C6;
}
.ac-container label{
	padding: 5px 20px;
	z-index: 20;
	display: block;
	height: 30px;
	cursor: pointer;
	color: #000;
	line-height: 33px;
	font-size: 19px;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background: #c6e1ec;
	color: #3d7489;
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(../images/arrow_down.png) no-repeat center center;	
}
.ac-container input:checked + label:hover:after{
	background-image: url(../images/arrow_up.png);
}
.ac-container input{
	display: none;
}
.ac-container article{
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	z-index: 10;
}
.ac-container article p{
	font-style: italic;
	color: #000;
	line-height: 23px;
	font-size: 14px;
	padding: 20px;
}

.ac-container input:checked ~ article.ac-small{
	height: 140px;
}
.ac-container input:checked ~ article.ac-medium{
	height: 180px;
}
.ac-container input:checked ~ article.ac-large{
	height: 230px;
}