<style> 
        *{ 
            font-size: 14px; 
            font-family: sans-serif; 
        } 
        form.registro{ 
            background: none repeat scroll 0 0 #F1F1F1; 
            border: 1px solid #DDDDDD; 
            margin: 0 ; 
            padding: 10px; 
            width: 258px; 
            box-shadow:0px 0px 20px black;  
            border-radius:10px;  
            position:relative; 
            top:30px; 
            margin-top: 120px;
        } 
        form.registro div { 
            margin-bottom: 15px; 
            overflow: hidden; 
        } 
        form.registro div label { 
            display: block; 
            float: left; 
            line-height: 25px; 
        } 
        form.registro div input[type="text"], form.registro div input[type="password"] { 
            border: 1px solid #DCDCDC; 
            float: right; 
            padding: 4px; 
        } 
        form.registro div input[type="submit"] { 
            background: none repeat scroll 0 0 #DEDEDE; 
            border: 1px solid #C6C6C6; 
            float: right; 
            font-weight: bold; 
            padding: 4px 20px; 
        } 
        .error{ 
            color: red; 
            font-weight: bold; 
            margin: 10px; 
            text-align: center; 
        } 
</style> 

<form action="" method="post" class="registro"> 
<div><label>Usuario:</label> 
<input type="text" name="usuario"></div> 
<div><label>Clave:</label> 
<input type="password" name="password"></div> 
<div><label>Repetir Clave:</label> 
<input type="password" name="repassword"></div> 
<div> 
<input type="submit" name="enviar" value="Registrar"></div> 
</form> 
             
